
  <div class="container">
    <div class="flex-column">
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">Beheer alle categorieen</h1>
        <a routerLink="/admin/add-category">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-10 h-10">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
      <div *ngFor="let category of categories" class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
        <mat-card class="w-100">
          <div class="flex w-2/5"> <!-- category -->
            <div class="w-20 flex items-center justify-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 text-grey-500 h-8" viewBox="0 0 24 24">
                <path d="M19.906 9c.382 0 .749.057 1.094.162V9a3 3 0 00-3-3h-3.879a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H6a3 3 0 00-3 3v3.162A3.756 3.756 0 014.094 9h15.812zM4.094 10.5a2.25 2.25 0 00-2.227 2.568l.857 6A2.25 2.25 0 004.951 21H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-2.227-2.568H4.094z" />
              </svg>
            </div>
            <div class="flex flex-col justify-between ml-4 flex-grow">
              <span class="font-bold text-sm">naam: {{category.name}}</span>
              <span class="text-black-500 text-xs">Categorie-id: {{category.id}}</span>
              <a (click)="removeCategory(category.id)"  class="font-semibold cursor-pointer hover:text-red-500 text-gray-500 text-xs">Verwijder</a>
            </div>
          </div>
          <div class="flex justify-center w-1/5">
            <button routerLink="/admin/edit/category/{{category.id}}" class="bg-green-400 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Wijzig</button>

          </div>
          <span class="text-center w-1/5 font-semibold text-sm">gemaakt: {{category.createDate}}</span>
          <span class="text-center w-1/5 font-semibold text-sm">{{category.name}}</span>
        </mat-card>
      </div>



      <a routerLink="/admin-dashboard" class="flex font-semibold text-grey-600 text-sm mt-10">

        <svg class="fill-current mr-2 text-grey-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
        Terug naar dashboard
      </a>
    </div>
  </div>
