
<div class="container">
  <div class="d-flex flex-row my-flex-container">
    <div class="p-2 my-flex-item">
      <a>
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
          </div>
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
        </div>
        <button mat-raised-button color="primary" (click)="onAddToCart(mockdataProduct)">Add</button>
      </a>
    </div>
    <div class="p-2 my-flex-item">
      <a>
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
          </div>
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
        </div>
        <button mat-raised-button color="primary" (click)="onAddToCart(mockdataProduct)">Add</button>
      </a>
    </div>
    <div class="p-2 my-flex-item">
      <a>
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
          </div>
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
          <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
        </div>
        <button mat-raised-button color="primary" (click)="onAddToCart(mockdataProduct)">Add</button>
      </a>
    </div>
  </div>
</div>
