<mat-card>
  <mat-card-content>
    <h3 matListItemTitle>{{mockdataProduct.name}}</h3>
    <p matListItemTitle>{{mockdataProduct.price}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAddToCart(mockdataProduct)">Add to cart</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-content>
    <h3 matListItemTitle>{{mockdataProduct.name}}</h3>
    <p matListItemTitle>{{mockdataProduct.price}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAddToCart(mockdataProduct)">Add to cart</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-content>
    <h3 matListItemTitle>{{mockdataProduct.name}}</h3>
    <p matListItemTitle>{{mockdataProduct.price}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAddToCart(mockdataProduct)">Add to cart</button>
  </mat-card-actions>
</mat-card>

