
<div class="container">
  <div class="flex-column">
        <div *ngFor="let user of users" class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
          <mat-card>
          <div class="flex w-2/5"> <!-- user -->
            <div class="w-20 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 text-grey-500 h-8">
                <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="flex flex-col justify-between ml-4 flex-grow">
              <span class="font-bold text-sm">{{user.email}}</span>
            </div>
          </div>
          <div class="flex justify-center w-1/5">
            <span class="text-center w-1/5 font-semibold text-sm">{{user.firstName}}</span>
          </div>
          <span class="text-center w-1/5 font-semibold text-sm">{{user.lastName}}</span>
          <span class="text-center w-1/5 font-semibold text-sm">{{user.createDate}}</span>
          </mat-card>
        </div>


        <a routerLink="/admin-dashboard" class="flex font-semibold text-grey-600 text-sm mt-10">

          <svg class="fill-current mr-2 text-grey-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
          Terug naar dashboard
        </a>
      </div>


    </div>

