
<body class="background" style="background: url('assets/img/header.png');">
<div class="h-full">
  <!--Nav-->
  <div class="w-full container mx-auto">
    <div class="w-full flex items-center justify-between">
      <a class="flex items-center text-grey-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
        TC<span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">G</span>
      </a>

      <div class="flex w-1/2 justify-end content-center">
      </div>
    </div>
  </div>

  <!--Main-->
  <div class="container pt-24 md:pt-36 mx-auto flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="">
      <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        The
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
          Card Shop
            </span>
        for real fans
      </h1>
      <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
        For high quality rare edition trading cards
      </p>
    </div>

    <!--Right Col-->
    <div class="w-full xl:w-3/5 p-12 overflow-hidden">
      <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="/assets/img/image.png" />
    </div>
  </div>
</div>
</body>
